{% load my_tags %}

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head class="c-main-header" >
<title id="pouya-title">Pouya's page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
<header>
<div id="pouya-page">Pouya's page</div>
</header>


<img src="https://lh3.googleusercontent.com/a/ACg8ocJHrswC7uq_6fw3VRHxijnYnIkqMfs_HxZDpEN6yKVg9uxx4l1c=s360-c-no" alt="my photo" class="pouya-photo"><br>


<nav aria-label="Main Site Links.">
<div class="navbar">
  <a href="/#contact">Contact Me</a>
  <a href="/#about">About</a>
  <a href="/#gallery">Gallery</a>
  <div class="dropdown">
    <button class="dropbtn">Classes
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/capoeira">Capoeira</a>
      <a href="/self-defense">Self-Defense</a>
      <a href="/fitness">Fitness</a>
    </div>
  </div>
    <a href="/">Home</a><hr class="line">
</div>


<div id="container">
  <ul>
   <div id="capoeira">
    <p>Senzala - Mestre Pedro</p>
    <a href="https://www.senzala.co.uk/" target="_blank">Senzala.co.uk</a><hr class="line">
    <P>Capoeira is a Brazilian martial art that combines elements of dance, acrobatics, and music. It was practiced by enslaved Africans in Brazil at the beginning of the 16th century. It is known for its acrobatic and complex maneuvers, often involving hands on the ground and inverted kicks.</p>
   </div>

   <div id="self-defense">
    <p>Hapkido</p>
    <a href="http://www.globalhapkidokorea.com/members/"  target="_blank">globalhapkidokorea.com</a><hr class="line">
    <p>Hapkido is a hybrid Korean martial art. It is a form of self-defense that employs joint locks, grappling, throwing techniques, kicks, punches, and other striking attacks.</p>
   </div>

   <div id="fitness">
    <a href = "/fitness/">Physical fitness</a><hr class="line">
    <p>Physical fitness is a state of health and well-being and, more specifically, the ability to perform aspects of sports, occupations and daily activities. Physical fitness is generally achieved through proper nutrition, moderate-vigorous physical exercise, and sufficient rest along with a formal recovery plan. </p>
   </div>
  </ul>
</div>
</nav>
  <div>
    <main id="about">
      <h2>About me:</h2><br>
I used to be a Sport Physiologist and martial arts instructor for more than 15 years. But according to my maths and engineering background, and due to some experience of algorithm and coding; recently, I have decided to learn more about software development and programming, as it feels extremely enjoyable to me to challenge myself with maths and logical issues and tech development. I am a patient, disciplined problem solver who like to look at the world around me through the logic of maths. I am so enthusiast in programming, Machine learning and Artificial Intelligence, and I am eager to be a programmer and developer as my profession.
    </main>
  </div>


<main id="gallery">
   <h2 class="gallery-text">Gallery</h2><br>
   <div class="main">
    <div class="row">
      <div class="column">
        <div class="content">
          <img src="https://scontent-man2-1.xx.fbcdn.net/v/t31.18172-8/27024088_910505985783942_8635753912365164048_o.jpg?_nc_cat=108&ccb=1-5&_nc_sid=e3f864&_nc_ohc=VmdpbxFLJmQAX9800LE&_nc_oc=AQnTH73ec71NJcgbtXMoEEblj75_AhUwAr9AmgjnEwl9U5_0RrQ7mWg4B27xf8La3Q0&_nc_ht=scontent-man2-1.xx&oh=00_AT9jx1HB0FSUnUfEBzBS1jm5WziJjs6g8rACwTxersynfQ&oe=628F41FE" alt="self-defense classes" style="width:100%">
          <h4>Kicks</h4>
        </div>
      </div>
      <div class="column">
        <div class="content">
           <img src="https://scontent-man2-1.xx.fbcdn.net/v/t1.6435-9/72327828_535580767011915_307045021557719040_n.png?stp=dst-png_p843x403&_nc_cat=103&ccb=1-5&_nc_sid=730e14&_nc_ohc=8IW3SvV6qGEAX_u_Ghh&_nc_ht=scontent-man2-1.xx&oh=00_AT8z4h9XvC96EBa_Ejso6gEWFunDSClugK7drR-4oT2wDQ&oe=628E8198" alt="Kids Class" style="width:100%">
          <h4>Kids Class</h4>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <img src="https://scontent-man2-1.xx.fbcdn.net/v/t1.6435-9/64254070_1278763478958189_328664637090299904_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=84a396&_nc_ohc=P_Pnaf6ExkEAX-C5Fu0&_nc_ht=scontent-man2-1.xx&oh=00_AT9nRI6pk8AWwxl4YsQGxbfBYg8EqG2dSNA7dW-50nb1zQ&oe=628E3442" alt="Acrobatics" style="width:100%">
          <h4>Acrobatics</h4>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <img src="https://scontent-man2-1.xx.fbcdn.net/v/t1.18169-9/10013589_435459319955280_2004689003773201145_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=a9b1d2&_nc_ohc=YH8ydI74TO0AX8zNkEN&_nc_ht=scontent-man2-1.xx&oh=00_AT91vd19bHDqCC7ry07jzMRp_V5zBe93by0GTsWbHf42UQ&oe=628C0D35" alt="events" style="width:100%">
          <h4>Capoeira Event</h4>
        </div>
      </div>
    </div>
   </div>
</main>


<div class="content">
  <iframe width="420" height="315"
src="https://www.youtube.com/embed/yJLkQS6o96o?playlist=yJLkQS6o96o&loop=1" style="width:100%">
</iframe>
  <h4>Capoeira Event</h4>
</div>

<div id="contact">
  <h3>Contact me:</h3><hr class="line">
    <p>email: pouya@info.com</p><br>
</div>

{#% block title %}#}
{#Post List#}
{#{% endblock %}#}

{% block content %}
    <main id="post-list">
        <h1><a href="/#post-list">Post List:</a></h1>
        {% for post in page_obj %}
            <div class="post-list">
               <h3>
                   <hr class="line"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a><hr class="line">
               </h3>
                <h3>{% tag_label post.tags.all.count %}</h3>
                {% for tag in post.tags.all %}
                    <a href="{% url 'index_tag' tag.slug %}"
                       target="_blank"
                       rel="noopener noreferrer">
                        {{ tag.slug }}
                    </a>
                    {% if not forloop.last %},
                    {% endif %}
                {% endfor %}

            </div>
            <br />
        {% endfor %}
    </main>

    <div id="pagination" class="pagination">

        <span class="step-links">
           {% if page_obj.has_previous %}
             <a href="?page=1#pagination">&laquo; first</a>
             <a href="?page={{ page_obj.previous_page_number }}#pagination">previous</a>
           {% endif %}

            <span class="current">
                page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

           {% if page_obj.has_next %}
             <a href="?page={{ page_obj.next_page_number }}#pagination">next</a>
             <a href="?page={{ page_obj.paginator.num_pages }}#pagination">last &raquo;</a>
           {% endif %}
        </span>
    </div>
{% endblock %}



<footer class=c-site-footer>This webpage is designed by Pouya Nasraei</footer>

 </body>
</html>
